@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: 950px) {
    @content;
  }
}

body {
  padding: 0px;
  margin: 0px;
  background: linear-gradient(to bottom, #9d50bb, #6e48aa);
  background-repeat: no-repeat;
}

input {
  padding: 15px;
  border: none;
  color: white;
  font-size: medium;
  font-weight: bold;
  width: 250px;
  border-bottom: 1px solid #000;
  border-radius: 10px;
  background-color: rgba(222, 202, 252, 0.515);
  box-shadow: 0rem 0.2rem 0rem rgba(81, 50, 60, 0.654);
  outline: none;

  &::placeholder {
    color: rgba(255, 255, 255, 0.59);
    font-size: medium;
  }
}

input:focus {
  background-color: rgba(127, 39, 168, 0.34);
  box-shadow: 0rem 0.5rem 1rem rgba(81, 50, 60, 0.654);
  padding: 20px;
  font-size: large;
}

button {
  background-color: rgb(188, 50, 239);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: larger;
  border-radius: 10px;
  box-shadow: 0rem 0.3rem 0rem rgba(81, 50, 60, 0.654);
}

.link {
  background-color: #781f9b32;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.781);
  text-decoration: none;
  padding: 5px 8px;
}

.formContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: #ffffff0f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 60px 200px;
    box-shadow: 0rem 0.0rem 0.2rem rgba(224, 193, 246, 0.532);

    .logo {
      font-family: 'Qwigley', cursive;
      color: rgba(246, 237, 255, 0.624);
      font-weight: bold;
      font-size: 75px;
      margin-bottom: 20px;
    }

    .avatar {
      border: '1px solid purple';
      padding: '20px';
      border-radius: 10px
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      label {
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.566);
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}

p {
  color: #ffffff81;
  font-size: 15px;
  font-weight: bold;
}

.homeContainer {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;

  .homeWrapper {
    background-color: #d899fa0f;
    border-radius: 10px;
    display: flex;
    width: 65%;
    height: 80%;
    box-shadow: 0rem 0rem 0.2rem rgba(232, 201, 255, 0.65);
    overflow: hidden;
    display: flex;

    @include tab() {
      width: 95%;
      height: 98vh;

      .sideBar {
        flex: 0.1;

        .users {
          justify-content: center;
          gap: 0px
        }

        p {
          display: none;
        }

        input {
          display: none;
        }

        .name {
          display: none;
        }

        .navBar {
          justify-content: center;

          .name {
            display: none;
          }

          .moreIcon {
            display: none;
          }
        }

        .searchBar {
          border: none;

          .users {
            display: none;
          }
        }
      }
    }
  }

  .sideBar {
    flex: 1;
    background-color: #8942fc3a;

    .navBar {
      display: flex;
      align-items: center;
      height: 50px;
      padding: 10px;
      justify-content: space-between;

      .user {
        align-items: center;
        color: aliceblue;
        display: flex;
        gap: 10px;
        font-weight: bold;
      }

      img {
        background-color: rgba(55, 34, 72, 0.366);
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: none;
        object-fit: cover;

        @include mobile() {
          width: 25px;
          height: 25px;
        }
      }

      .logo {
        font-family: 'Qwigley', cursive;
        color: rgba(246, 237, 255, 0.624);
        font-weight: bold;
        font-size: 35px;
      }

      .logoutBtn {
        background-color: #4c0795c3;
        border-radius: 10px;
        color: rgba(255, 255, 255, 0.781);
        border: none;
        font-size: small;
        font-weight: bold;
        padding: 2px 8px;
        cursor: pointer;
        box-shadow: 0rem 0.1rem 0.1rem rgba(232, 201, 255, 0.65);
      }
    }

    .searchBar {
      text-align: center;
      margin-top: 2px;
      background-color: rgba(255, 255, 255, 0.171);
      border-radius: 10px;
      border: 1px solid rgb(206, 146, 238);
      overflow: hidden;

      input {
        padding: 8px 28px;
        margin-bottom: 8px;
        box-shadow: 0rem 0rem 0rem rgba(255, 255, 255, 0.654);
      }
    }

    .users {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px;
      color: white;
      font-weight: bold;


      &:hover {
        background-color: #5d33a2;
        font-size: large;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;

        @include mobile() {
          width: 30px;
          height: 30px;
        }
      }
    }

    .chats {
      .userInfo {
        p {
          font-size: 14px;
          margin-top: 2px;
        }
      }
    }
  }

  .chat {
    flex: 2;
    background-color: rgba(128, 33, 168, 0.007);

    .chatInfo {
      display: flex;
      align-items: center;
      height: 50px;
      padding: 10px;
      justify-content: space-between;
      color: white;
      font-weight: bold;
    }

    .chatIcons {
      display: flex;
      gap: 20px;
      padding: 10px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }

    .messages {
      background-color: rgba(255, 255, 255, 0.118);
      padding: 15px;
      height: calc(100% - 170px);
      overflow: scroll;

      .message {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;

        .messageInfo {
          display: flex;
          flex-direction: column;
          color: rgba(57, 22, 76, 0.452);
          font-weight: 250;
          font-size: 10px;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 5px;
          }
        }

        .messageContent {
          max-width: 80%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: flex-start;

          p {
            color: white;
            background-color: #5e33a297;
            padding: 10px 20px;
            border-radius: 0px 10px 10px 10px;
            max-width: max-content;
            font-weight: 500;
          }

          img {
            width: 50%;
            border-radius: 2px;
            object-fit: cover;
          }
        }

        &.owner {
          flex-direction: row-reverse;

          .messageContent {
            align-items: flex-end;
          }

          p {
            color: white;
            background-color: #4e0c68ac;
            border-radius: 10px 0px 10px 10px;
            max-width: max-content;
            font-weight: 500;
          }
        }
      }
    }

    .input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      background-color: rgba(229, 175, 246, 0.156);
      padding: 10px;
      gap: 10px;

      input {
        width: 100%;
        outline: none;
        box-shadow: 0rem 0rem 0rem rgba(81, 50, 60, 0.654);
      }

      .send {
        display: flex;
        align-items: center;
        gap: 10px;

        .icon {
          display: none;
        }

        @include tab() {
          gap: 8px;

          img {
            width: 20px;
            height: 20px;
          }

          .text {
            display: none;
          }

          .icon {
            display: inline;
          }
        }
      }

      img {
        height: 24px;
        width: 24px;
        cursor: pointer;
      }
    }
  }

}
