.App {
  text-align: center;
}

body {
  padding: 0px;
  margin: 0px;
  background: linear-gradient(to right, #fc00ff, #00dbde);
}

.formContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: #ffffff0f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 60px 200px;
    box-shadow: 0rem 0rem 2rem rgba(81, 50, 60, 0.532);

    .logo {
      color: rgba(203, 218, 246, 0.663);
      font-weight: bold;
      font-size: xx-large;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        color: white;
        font-size: medium;
        font-weight: bold;
        width: 250px;
        border-bottom: 1px solid #000;
        border-radius: 10px;
        background-color: rgba(242, 202, 252, 0.672);
        box-shadow: 0rem 0.2rem 0rem rgba(81, 50, 60, 0.654);

        &::placeholder {
          color: rgba(255, 255, 255, 0.59);
          font-size: medium;
        }

      }

      input:focus {
        background-color: rgba(231, 137, 255, 0.708);
        box-shadow: 0rem 0.5rem 1rem rgba(81, 50, 60, 0.654);
      }

      button {
        background-color: rgb(235, 117, 237);
        border: none;
        color: rgb(255, 255, 255);
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
        font-size: larger;
        border-radius: 10px;
        box-shadow: 0rem 0.3rem 0rem rgba(81, 50, 60, 0.654);
      }

      label {
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.566);
        cursor: pointer;
        font-weight: bold;
      }


    }

    p {
      color: #ffffff81;
      font-size: 15px;
      margin-top: 10px;
      font-weight: bold;
    }
  }
}
